.formBannerTitle {
    display: block;
}

.form {
    opacity: 1.0;
}

#module312 .formBannerTitle {
    display: none;
}

#module312 {
    opacity: 1.0;
}

#module312 {
    height: 26.91105rem;
}

#module312 .formMiddle {
    background: rgba(255, 255, 255, 1) !important;
}

#module312 .formMiddleContent312 {
    margin: 0.85333rem 0.85333rem 0.85333rem 0.85333rem;
}

#module311 .formBannerTitle {
    display: block;
}

#module311 {
    opacity: 1.0;
}

#module313 .formBannerTitle {
    display: block;
}

#module313 {
    opacity: 1.0;
}

#module328 .formBannerTitle {
    display: block;
}

#module328 {
    opacity: 1.0;
}

#module330 .formBannerTitle {
    display: block;
}

#module330 {
    opacity: 1.0;
}

#module331 .formBannerTitle {
    display: block;
}

#module331 {
    opacity: 1.0;
}

.g_main_bgColor_v3 {
    background-color: #ff7214;
}

.g_main_color_v3 {
    color: #ff7214;
}

.g_main_bdColor_v3 {
    border-color: #ff7214;
}









#module311 .floatBtn {
    background-color: rgba(66, 189, 86, 1);
}

#module311 .floatBtn {
    width: 5.692722371967655rem;
    height: 2.026954177897574rem;
    line-height: 2.026954177897574rem;
}

#module313 .floatBtn {
    width: 5.692722371967655rem;
    height: 1.940700808625337rem;
    line-height: 1.940700808625337rem;
}






.open .nav_item:nth-child(1) {
    transition-delay: 160ms;
}

#navbar_1071 .nav_icon:before {
    content: '\a1046';
    content: '\a1046';
}

#navbar_1071 .nav_icon {
    background-image: none;
}

.open .nav_item:nth-child(2) {
    transition-delay: 240ms;
}

#navbar_1072 .nav_icon:before {
    content: '\a0340';
    content: '\a0340';
}

#navbar_1072 .nav_icon {
    background-image: none;
}

.open .nav_item:nth-child(3) {
    transition-delay: 320ms;
}

#navbar_1073 .nav_icon:before {
    content: '\a1071';
    content: '\a1071';
}

#navbar_1073 .nav_icon {
    background-image: none;
}

.open .nav_item:nth-child(4) {
    transition-delay: 400ms;
}

#navbar_1074 .nav_icon:before {
    content: '\a1068';
    content: '\a1068';
}

#navbar_1074 .nav_icon {
    background-image: none;
}

.open .nav_item:nth-child(5) {
    transition-delay: 480ms;
}

#navbar_1075 .nav_icon:before {
    content: '\a0021';
    content: '\a0021';
}

#navbar_1075 .nav_icon {
    background-image: none;
}







.webFooterBox .ui-calendar-calendar .ui-state-active {
    background-color: #ff7214;
}

.webFooterBox .ui-calendar-calendar .ui-calendar-startDate {
    background-color: #ff7214;
}

.webFooterBox .ui-calendar-prev:after {
    color: #ff7214;
}

.webFooterBox .ui-calendar-next:after {
    color: #ff7214;
}

.webFooterBox .fk-calendarNav {
    background-color: #ff7214;
}